@keyframes rotating {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

@keyframes grow {
    0%   {
        transform: scale(1);
        color: #e81416;
    }
    14%  { color: #ffa500; }
    28%  { color: #faeb36; }
    42%  { color: #79c314; }
    56%  {
        transform: scale(4);
        color: #487de7;
    }
    70%  { color: #4b369d; }
    85%  { color: #70369d; }
    100% {
        transform: scale(1);
        color: #e81416;
    }
}

.loader {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    font-size: 40px;
    animation: rotating 2s linear infinite;
    color: #fba9a3;
    height: 80vh;
    align-items: center;
}

.loader svg {
    animation: grow 2s linear infinite;
}
